@use "variables/global";
@use "reset";
@use "themes/dark";
@use "themes/normal";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page_wrapper {
    padding: 20px;
    flex-grow: 1;
}
