.app_dark_theme {
    --bg-color: #2020d4;
    --inverted-bg-color: #a7a7e2;
    --primary-color: #049604;
    --secondary-color: #12ee12;
    --inverted-primary-color: #7678d8;
    --inverted-secondary-color: #92929b;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // background code block
    --code-background: #2828ec;

    // card
    --card-bg: #3535e4;
}
