.dark {
    --bg-color: #2020d4;
    --inverted-bg-color: #a7a7e2;
    --primary-color: #049604;
    --secondary-color: #12ee12;
    --inverted-primary-color: #7678d8;
    --inverted-secondary-color: #92929b;
}
