.app_light_theme {
    --bg-color: #a7a7e2;
    --inverted-bg-color: #2020d4;
    --primary-color: #7678d8;
    --secondary-color: #8d8fe4;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #12ee12;
}
